<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>



    <!-- Define servlets that are included in the example application -->

    <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>DoDBQuery</servlet-name>
      <servlet-class>DoDBQuery</servlet-class>
    </servlet>  
    <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>Logout</servlet-class>
    </servlet>    
    <servlet>
      <servlet-name>Test</servlet-name>
      <servlet-class>Test</servlet-class>
    </servlet>  
    <servlet>
      <servlet-name>FetchProducts</servlet-name>
      <servlet-class>FetchProducts</servlet-class>
    </servlet> 
	<servlet>
      <servlet-name>ProductBean</servlet-name>
      <servlet-class>ProductBean</servlet-class>
    </servlet> 	
	<servlet>
      <servlet-name>AjaxGetProducts1</servlet-name>
      <servlet-class>AjaxGetProducts1</servlet-class>
    </servlet> 	
	<servlet>
      <servlet-name>AjaxProductVC</servlet-name>
      <servlet-class>AjaxProductVC</servlet-class>
    </servlet> 
	<servlet>
      <servlet-name>AjaxProductSKU</servlet-name>
      <servlet-class>AjaxProductSKU</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>AjaxVendor</servlet-name>
      <servlet-class>AjaxVendor</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>AjaxCategory</servlet-name>
      <servlet-class>AjaxCategory</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>DBHelper</servlet-name>
      <servlet-class>DBHelper</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>Dispatcher</servlet-name>
      <servlet-class>Dispatcher</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>MerchandiseIn</servlet-name>
      <servlet-class>MerchandiseIn</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>MerchandiseOut</servlet-name>
      <servlet-class>MerchandiseOut</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>PasswordUtilities</servlet-name>
      <servlet-class>PasswordUtilities</servlet-class>
    </servlet>
	

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoDBQuery</servlet-name>
        <url-pattern>/servlet/DoDBQuery</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlet/Logout</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/servlet/Test</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>FetchProducts</servlet-name>
        <url-pattern>/servlet/FetchProducts</url-pattern>
    </servlet-mapping> 
<servlet-mapping>
        <servlet-name>ProductBean</servlet-name>
        <url-pattern>/servlet/ProductBean</url-pattern>
    </servlet-mapping>

<servlet-mapping>
        <servlet-name>AjaxGetProducts1</servlet-name>
        <url-pattern>/servlet/AjaxGetProducts1</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>AjaxProductVC</servlet-name>
        <url-pattern>/servlet/AjaxProductVC</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>AjaxProductSKU</servlet-name>
        <url-pattern>/servlet/AjaxProductSKU</url-pattern>
    </servlet-mapping> 	
	<servlet-mapping>
        <servlet-name>AjaxVendor</servlet-name>
        <url-pattern>/servlet/AjaxVendor</url-pattern>
    </servlet-mapping> 	
	<servlet-mapping>
        <servlet-name>AjaxCategory</servlet-name>
        <url-pattern>/servlet/AjaxCategory</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>DBHelper</servlet-name>
        <url-pattern>/servlet/DBHelper</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/servlet/Dispatcher</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>MerchandiseIn</servlet-name>
        <url-pattern>/servlet/MerchandiseIn</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>PasswordUtilities</servlet-name>
        <url-pattern>/servlet/PasswordUtilities</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>MerchandiseOut</servlet-name>
        <url-pattern>/servlet/MerchandiseOut</url-pattern>
    </servlet-mapping>	


    <jsp-config>
        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/debug-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp/debug-taglib.tld
            </taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/example-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp/example-taglib.tld
            </taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/jsp2-example-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp2/jsp2-example-taglib.tld
            </taglib-location>
        </taglib>

        <jsp-property-group>
            <description>
                Special property group for JSP Configuration JSP example.
            </description>
            <display-name>JSPConfiguration</display-name>
            <url-pattern>/jsp/jsp2/misc/config.jsp</url-pattern>
            <el-ignored>true</el-ignored>
            <page-encoding>ISO-8859-1</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/jsp/jsp2/misc/prelude.jspf</include-prelude>
            <include-coda>/jsp/jsp2/misc/coda.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

   <security-constraint>
      <display-name>Example Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/jsp/security/protected/*</url-pattern>
         <!-- If you list http methods, only those methods are protected -->
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>tomcat</role-name>
         <role-name>role1</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>role1</role-name>
    </security-role>
    <security-role>
      <role-name>tomcat</role-name>
    </security-role>


</web-app>
